.footer {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 1px solid gray;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
.footer p {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 0.1;
  letter-spacing: 2px;
  font-weight: 100;
}
